<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for x in fruits %}
        <h2>x</h2>
    {% endfor %}

    <p>in the views.py you can see waht the fruits variable look like</p>

    <p>Hello {{hisName}}</p>.

    {%if greetings == 1 and day == 'friday'%}
        <h3>Good morning {mymembers}</h3>
    {%elif greetings == 2 %}
        <h3>Good afternoon</h3>
    {%else%}
        <h3>Good evening</h3>
    {% endif %}

    {%include 'footer.html'%}

        
</body>
</html>